<div class="mb-3">
  <p-toolbar
    styleClass="bg-gray-900 shadow-2"
    [style]="{
      'border-radius': '3rem',
      'background-image':
        'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))',
    }"
  >
    <ng-template pTemplate="start"
      ><span class="title"> BTS </span></ng-template
    >
    <ng-template pTemplate="center">
      <div class="flex flex-wrap align-items-center gap-3">
        @for (item of mainMenuItems; track item) {
          <a
            routerLinkActive="is-active"
            [routerLink]="item.href"
            title="navitem"
            class="p-link active inline-flex justify-content-center align-items-center text-white h-3rem w-5rem hover:bg-white-alpha-10 transition-all transition-duration-200"
          >
            {{ item.name }}
          </a>
        }
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        @if (profile(); as profile) {
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle"
          />
          <span class="font-bold text-bluegray-50"> {{ profile.name }} </span>
        }
      </div>
    </ng-template>
  </p-toolbar>
</div>
